

.form-container {
  margin-top: 15%;
}

.input {
  margin-top: 5%;
}
.button {
  margin-top: 8%;
  text-align: center;
}

.monster-container {
  margin-top: 10%;
}

button{
  background-color: white;
  border:1px solid black;
  border-style:solid;
  height:0px;
  padding-top:50px;
  padding-bottom:60px;
  margin:5px;
  width:30%;
}

button:hover{
  background-color: #d9d9d9;
}

.image {
  border:1px solid black;
  width:20%;
  height:auto;
  margin-top:30px;
  margin-left:40%;
  margin-right:40%;
}



.monster-stats {
  margin-top: 10px;
}

.progress-bar{
  position:relative;
  height:20px;
  width:300px;
  margin-left: auto;
  margin-right: auto;
  border-radius:50px;
  border:1px solid #333;
}
.bar{
  background-color: black;
  height:100%;
  border-radius:inherit;
  transition: width .2s ease-out;
}

.stats{
  text-align:center;
  font-size: 14px;
}
.flavortext{
  text-align:center;
  font-size: 14px;
  font-style:italic;
}
.question-container {
  text-align: center;
}

h2{
  font-size:20px;
}
.event-container {
  text-align: center;
  width:50%;
  font-size:13px;
  margin-left:25%;
  margin-right:25%;
}

input{
  border: 1px solid black;
  height:30px;
  width:150px;
}

.form-container {
  text-align:center;
}
